.entries {
  .entry {
    .inner-entry {
      margin: 0px;

      .red-line {
        background-color:#E53953;
        height:5px;
        margin-left:10px;
        margin-right:10px;
      }

      img {
        width: 100%;
        height: 210px;
        padding: 10px;
        padding-bottom: 0px;
      }

      h2 {
        text-align:left;
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
        padding-left: 10px;
        padding-right:10px;
      }

      hr {
        margin-left: 10px;
        margin-right: 10px;
      }

      .content {
        text-align: left;
        height: auto;
      }

      .event-date {
        position:absolute;
        background-color:#E53953;
        -moz-opacity: 0.90;
        -khtml-opacity: 0.90;
        opacity: 0.90;
        filter:alpha(opacity=90);
        width: 90px;
        height: 90px;
        left: 25px;
        top: 10px;
        font-size: 20px;
        padding-top: 14px;
        color: white;
      }

      .details {
        text-align: left;

        a {
          margin-bottom: 12px;
          background-color: #E53953;
          border: none;
          border-radius: 0px;
          font-size: 20px;
          font-weight: 500;
          color: white;
        }
      }
    }
  }

  .entry:nth-child(odd) {
    .inner-entry {
      background-color: #1E2A3F;

      h2 {
        color: white;
      }

      hr {
        border-color: white;
      }

      .content {
        color: #DDDDDD;
      }
    }
  }

  .entry:nth-child(even) {
    .inner-entry {
      background-color: #E4E7EE;

      h2 {
        color: black;
      }

      hr {
        border-color: black;
      }

      .content {
        color: #555555;
      }
    }
  }
}

// rouge #E53953 (90% dans dates)
// bleu  #1E2A3F
// gris  #E4E7EE
