.marketing {
  .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
  }

  h2 {
    font-weight: normal;
  }

  .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}
