.entries .entry .inner-entry {
  margin: 0px;
}
.entries .entry .inner-entry .red-line {
  background-color: #e53953;
  height: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
.entries .entry .inner-entry img {
  width: 100%;
  height: 210px;
  padding: 10px;
  padding-bottom: 0px;
}
.entries .entry .inner-entry h2 {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  padding-left: 10px;
  padding-right: 10px;
}
.entries .entry .inner-entry hr {
  margin-left: 10px;
  margin-right: 10px;
}
.entries .entry .inner-entry .content {
  text-align: left;
  height: 100px;
}
.entries .entry .inner-entry .event-date {
  top: 0px;
  position: absolute;
  background-color: #e53953;
  -moz-opacity: 0.9;
  -khtml-opacity: 0.9;
  opacity: 0.9;
  filter: alpha(opacity=90);
  width: 90px;
  height: 90px;
  left: 25px;
  font-size: 20px;
  padding-top: 14px;
  color: white;
}
.entries .entry .inner-entry .details {
  text-align: left;
}
.entries .entry .inner-entry .details a {
  margin-bottom: 12px;
  background-color: #e53953;
  border: none;
  border-radius: 0px;
  font-size: 20px;
  font-weight: 500;
  color: white;
}
.entries .entry:nth-child(odd) .inner-entry {
  background-color: #1e2a3f;
}
.entries .entry:nth-child(odd) .inner-entry h2 {
  color: white;
}
.entries .entry:nth-child(odd) .inner-entry hr {
  border-color: white;
}
.entries .entry:nth-child(odd) .inner-entry .content {
  color: #ddd;
}
.entries .entry:nth-child(even) .inner-entry {
  background-color: #e4e7ee;
}
.entries .entry:nth-child(even) .inner-entry h2 {
  color: black;
}
.entries .entry:nth-child(even) .inner-entry hr {
  border-color: black;
}
.entries .entry:nth-child(even) .inner-entry .content {
  color: #555;
}
