body {
  padding-bottom: 40px;
  color: #5a5a5a;
}
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}
.navbar-wrapper .navbar {
  background-color: black;
  border: 0px;
  min-height: inherit;
}
.navbar-wrapper .navbar .container .agenda, .navbar-wrapper .navbar .container .news, .navbar-wrapper .navbar .container .add {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}
.navbar-wrapper .navbar .container .agenda a, .navbar-wrapper .navbar .container .news a, .navbar-wrapper .navbar .container .add a {
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}
.navbar-wrapper .navbar .container .agenda a img, .navbar-wrapper .navbar .container .news a img, .navbar-wrapper .navbar .container .add a img {
  width: 26px;
  vertical-align: -4px;
  margin-right: 2px;
}
.navbar-wrapper .navbar .container .agenda a i, .navbar-wrapper .navbar .container .news a i, .navbar-wrapper .navbar .container .add a i {
  margin-left: 3px;
}
.navbar-wrapper .navbar .container .agenda a:hover, .navbar-wrapper .navbar .container .news a:hover, .navbar-wrapper .navbar .container .add a:hover {
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
  filter: alpha(opacity=70);
}
.navbar-wrapper .navbar .container .agenda, .navbar-wrapper .navbar .container .news {
  font-weight: 100;
}
.navbar-wrapper .navbar .container .add {
  font-weight: 600;
}
.navbar-wrapper > .container-fluid {
  padding-right: 0;
  padding-left: 0;
}
.carousel {
  height: 530px;
}
.carousel .item {
  height: 500px;
  background-color: #777;
  background: url(/images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.carousel .carousel-caption {
  top: 112px;
}
