body {
  padding-bottom: 40px;
  color: #5a5a5a;
}
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}
.navbar-wrapper .navbar .container {
  width: auto;
}
.navbar-wrapper > .container-fluid {
  padding-right: 0;
  padding-left: 0;
}
.carousel {
  height: 540px;
  margin-bottom: 60px;
}
.carousel .item {
  height: 500px;
  background-color: #777;
  background: url(/images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.carousel .carousel-caption {
  top: 112px;
}
